/* .nav-menu-header{
  position: absolute;
  z-index: 2;
  width: 100%;
}

.solid-header {
  position: relative;
  background-color: black;
  z-index: 2;
  width: 100%;
}

.nav-menu-header .nav-link{
  color:white;
  font-weight: 450;
}

@media (max-width:992px){
  .nav-menu-header{
    background: black;
    position: relative;
  }
} */

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; 
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)); /* Làm mờ dần từ trong suốt đến đen */
  pointer-events: none; 
  z-index: 10;
}

.navbar .nav-link.active {
  color: #dc3545 !important;
}


.segment {
  background-color: #bfe661;
  width: 100%;
  height: 5px;
}

/* Lớp CSS tùy chỉnh cho tooltip */
.tooltip .tooltip-inner {
  background-color: white;
  /* Màu nền mặc định */
  color: black;
  /* Màu chữ */
}

.containerVipPro {
  width: 1102px;
}

.bg-nenVipPro {
  background-color: #101416;
}

.homnayxemgi {
  background-color: #bfe661;
  height: 6px;
}

.homnayxemgi2 {
  background-color: white;
  height: 1px;
}

/* CSS */
.card-subtitle {
  font-size: 16px;
  /* Kích thước chữ mặc định */
  transition: font-size 0.3s, color 0.3s, text-shadow 0.3s;
  cursor: pointer;
}

.card-subtitle:hover {
  font-size: 18px;
  /* Kích thước chữ khi hover */
  color: #f0a;
  /* Màu chữ khi hover */
  text-shadow: 0 0 10px rgba(255, 105, 180, 0.8);

}


/* Hiệu ứng hover cho ảnh */
.card:hover .card-img {
  filter: brightness(0.5);
  /* Làm tối nền khi hover */
  transition: filter 0.3s ease;
  z-index: 10;
}

.card:hover {
  z-index: 10; 
  transform: scale(1.05); 
  transition: transform 0.3s ease, z-index 0s;
}

/* Ẩn icon play ban đầu */
.play-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* .play-icon-overlay .fa-play{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Hiển thị icon play khi hover vào card */
.card:hover .play-icon-overlay {
  display: block;
}

/* Làm mờ dần và hiển thị icon play */
.play-icon-overlay i {
  transition: opacity 0.3s ease;
}

.card:hover .ten {
  display: none;
}

.bannerCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.img-banner {
  width: 100%;
  overflow: hidden;
}

.img-banner img {
  width: 100%;
  height: auto;
}

.responsive-icon-img {
  max-width: 260px;
  height: auto;
  height: auto;
  position: relative;
  right: calc(-260px + 10%);
}

@media (max-width: 1100px) {
  .responsive-icon-img {
    right: calc(-150px + 10%);
    /* Điều chỉnh cho kích thước giữa */
  }
}

@media (max-width: 900px) {
  .responsive-icon-img {
    right: calc(-50px + 5%);
    /* Điều chỉnh cho kích thước nhỏ hơn */
  }
}

@media (max-width: 768px) {
  .responsive-icon-img {
    right: -150px;
  }
}

@media (max-width: 576px) {
  .responsive-icon-img {
    right: -50px;
  }
}

/* CSS FORM LOGIN, REGISTER, FORGOT PASSWORD */

.modal-login {
  background-image: url(../../public/images/bg_login.jpg);
  background-size: cover;
  display: block;
  padding-left: 15px;
  height: 750px;
  position: relative;
}

.modal-login .modal-dialog {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 600px;
  height: 500px;
}

@media (max-width: 768px) {
  .modal-login .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .modal-login .modal-dialog {

    padding: 20px;
  }
}

.modal-login p {
  color: #808080;
  width: 90%;
}

.modal-login .modal-content {
  border: none;
  border-radius: 20px;
  background: #222;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .5);
  padding: 80px 40px 20px 40px;
}

.modal-login .modal-content .modal-header {
  border-bottom: none;
  padding: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bor-form {
  float: left;
  width: 100%;
}

.modal-login .icon-fb a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: none;
}

.modal-login .icon-fb a {
  background-color: #3b5998;
}

.modal-login .google-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.modal-login .icon-google {
  background: white;
  border-radius: 30px;
}

.modal-login .icon-google a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.modal-dialog .bor-form input.lg-email {
  background: url(../../public/images/icon-email.webp) no-repeat 0px center;
}

.modal-dialog .bor-form input.lg-password {
  background: url(../../public/images/icon-pass.webp) no-repeat 0px center;
}

.modal-dialog .bor-form input.lg-name {
  background: url(../../public/images/icon-user.webp) no-repeat 0px center
}

.modal-dialog .bor-form .form-group {
  position: relative;
}

.form-group input {
  border: none;
  outline: none;
  height: 45px;
  padding-left: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  height: 45px;
  color: white;

  width: 100%;
}

.modal-dialog .bor-form .form-group .forgot-password {
  position: absolute;
  top: 10px;
  right: 0px;
  color: #F62F39;
  text-decoration: none;
}

.modal-dialog .bor-form .button-submit {
  text-align: center;
}

.modal-dialog .bor-form .button-submit button {
  background: #F62F39;
  width: 150px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  border: 0px;
  box-shadow: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.modal-dialog .bor-form .btn-register {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 12px;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;

}

/* CSS INFOMATION USER */

.first-page {
  background: black;
}

.u-menu {
  list-style: none;
  padding: 0;
  /* Bỏ padding mặc định của ul */
}

.u-menu li {
  display: inline-block;
  margin: 0 15px 0 5px;
}

.u-menu li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.active-indicator {
  height: 5px;
  border-radius: 10px;
  width: 50%;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}


.user-info {
  background-color: #343a40;
  padding: 20px;
  border-radius: 8px;
}

.user-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Để cho button có thể căn giữa */
}

.user-image img {
  width: 100%;
  height: auto;
  display: block;
}

.upload-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.upload-button label {
  border-radius: 30px;
}

.u-button {
  float: right;
}

.u-button button {
  border-radius: 30px;
}

.u-service-buy .box-card img {
  margin: 10px;
  padding: 10px;
  height: 150px;
}

.u-service-buy .box-card {
  border: 1px solid white;
  background: black;
  color: white;
}

.box-card .card-body .u-service-buy-title {
  border-bottom: 1px solid red;
  display: inline-block;
  padding-bottom: 5px;
}

.box-card .card-body .u-service-buy-title {
  border-bottom: 1px solid red;
  display: inline-block;
  padding-bottom: 5px;
}

.u-service-buy .card-body button {
  float: right;
}

.u-history-view {
  margin-top: 20px;
}

.u-history-view .card-view .card-body button {
  margin-left: 5px;
}

.card-view {
  background: #393E40;
  border-radius: 10px;
}

.u-history-view .u-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.u-card {
  position: relative;
}

.u-card .image-container {
  position: relative;
}

.u-card .icon-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  z-index: 1;
}

.u-favorite .image-container img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.episode-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #A82E26;
  color: white;
  border-radius: 30px;
  font-size: 15px;
  padding: 2px 5px;
  z-index: 1;
}

.card-body {
  padding: 15px;
}

/* CSS RANKING FILM */

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.breadcrumb li+li::before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.list-movie-filter {
  overflow: visible;
  position: relative;
  display: block;
  padding: 0;

}

.ml-title {
  display: block;
  margin-bottom: 10px;
}

.ml-title span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: #b5e745;
  color: #333;
  border-radius: 3px 3px 0 0;
}

.filter-toogle {
  float: right;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  color: black;
}

.filter-toogle i {
  color: black;
}

.filter {
  padding: 10px 20px;
  background: #fff;
  position: relative;
  padding-bottom: 110px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
  border-radius: 3px;
  margin-bottom: 20px;
}

.filter .fc-title {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  color: #0397d6;
}

.filter .fc-main-list {
  padding: 0;
  border: none;
  overflow: visible;
  background: 0 0;
}

.filter ul {
  list-style: none;
  padding: 10px 15px 8px;
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
  border-radius: 3px;
  overflow: hidden;
}

.filter .cs10-top ul li {
  float: left;
  width: 130px;
  padding: 3px 5px 3px 2px;
  margin: 0 0 5px;
  width: auto;
  margin-right: 5px;
}

.filter .cs10-top .fc-genre .fc-release {
  clear: both;
  display: block;
}

.filter li {
  display: block;
  width: 100%;
  float: none;
  padding: 0;
  margin-bottom: 4px;
}

.filter .fc-main-list li a {
  font-size: 14px;
  background: #eee;
  color: #333;
  display: block;
  padding: 7px 10px;
}

.filter .fc-main-list a {
  text-decoration: none;
}

.filter .cs10-top .fc-filmtype {
  float: left;
  width: 50%;
}


.filter ul li label input {
  margin: 0 3px 0 0;
  vertical-align: text-top;
}

.filter .fc-filter {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  color: #0397d6;
}

.filter .fc-quality {
  margin-left: 52%;
}

.filter .filter-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.filter .row {
  margin-right: -15px;
  margin-left: -15px;
}

.schedule-title-main {
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  line-height: 23px;
  background: #d43939;
  color: #FFF;
  margin-bottom: 10px;
}

b,
strong,
em {
  font-weight: 700;
}

.wp-pagenavi {
  font-size: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.wp-pagenavi .pages {
  padding-left: 15px;
  padding-right: 15px;
}

.wp-pagenavi span {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  padding: 0 10px;
  background-color: #78909C;
  border-radius: 3px !important;
}

.wp-pagenavi span:after {
  background: red;
}

.wp-pagenavi span.current {
  color: white;
  background-color: #b71c1c;
  opacity: 1;
}

.wp-pagenavi span.current::after {
  opacity: 1;
}

.wp-pagenavi a {
  color: #78909c;
}

.wp-pagenavi a {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  padding: 0 10px;
  text-decoration: none;
  background-color: #78909C;
  color: white;
  border-radius: 3px !important;
}

/* CSS FILM SERIES */

.box_top_search {
  float: left;
  width: 100%;
  color: #333333;
  position: relative;
}

.search_control_select {
  float: left;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  margin-bottom: 10px;
  color: #737373;
  border-radius: 3px;
}

.search_control_select li {
  float: left;
  margin: 11px 20px 16px 0px;
  list-style: none;
}

.search_control_select li a {
  position: relative;
  padding: 0px 0px 10px 0px;
  margin: 0px 5px 0px 0px;
  height: 16px;
  font-size: 14px;
  text-transform: uppercase;
}

.search_control_select a {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

.header-ranking-list {
  clear: both;
  position: relative;
  display: inline-block;
}

.header-ranking-list span {
  float: left;
  display: block;
  width: auto;
  color: #cdff00;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 36px;
  margin: 0 0 10px 0;
}

.ranking-movie {
  background: #263238;
  margin: 0;
  padding: 0;

}

.ranking-movie .po-01 {
  background-image: url(../../public/images/animevsub-OZnzTG4k9y.webp);
}

.ranking-movie img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .containerVipPro {
    width: 100%;
    /* Cho màn hình nhỏ hơn 768px */
  }
}

ul.ranking-movie li:first-child {
  border-top: 0 !important;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  padding: 30px 0;
  height: 200px;
}

.ranking-movie .row-display {
  cursor: pointer;
}


.ranking-movie .txt-rank {
  color: #FE0000;
  font-size: 26px;
  width: 60px;
  float: left;
  font-size: 26px;
  text-align: center;
  display: block;
  line-height: 60px;
}

.ranking-movie .e-item {
  float: left;
  width: 75%;
}

.ranking-movie .e-item .thumb {
  margin-bottom: 0;
  margin-right: 15px;
  position: relative;
  display: block;
  margin-bottom: 8px;
  background-color: #000;
}

.ranking-movie .e-item a {
  text-decoration: none;
  color: #fff;
}

.ranking-movie .e-item .pull-left {
  float: left !important;
}

.ranking-movie li:first-child .e-item img {
  width: 100px !important;
  height: 100% !important;
  border: 2px solid #fff;
  border-radius: 3px;
}

.ranking-movie li .e-item .title-item {
  /* margin-top: 6px; */
  margin-bottom: 4px;
}

.ranking-movie li:first-child .e-item .title-item a {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
}

.ranking-movie li .e-item .ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ranking-movie .inblock h4 {
  color: #fff;
  display: inline;
  font-size: 14px;
}

.ranking-movie .po-02 .txt-rank {
  color: #FE3200;
  font-size: 30px;
}

.ranking-movie .rank-score {
  margin-right: 20px;
  line-height: 60px;
  /* margin-right: 5px; */
  position: relative;
}

.ranking-movie li:first-child .rank-score .score {
  color: #fff;
  font-size: 22px !important;
  position: absolute;
  bottom: -170px;
  right: 0px;
}


.ranking-movie .po-02 {
  border-bottom: 1px solid #222e33;
  border-top: 0;
  list-style: none;
  padding: 10px 0;
}

.ranking-movie .po-02 .e-item .title-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ranking-movie .po-02 .e-item .pull-left2 {
  float: left !important;
}

.ranking-movie .po-02 .e-item .thumb2 {
  margin-bottom: 0;
  margin-right: 15px;
}

.ranking-movie .po-02 .statistics {
  width: 60px;
  float: left;
  display: none;
}

.ranking-movie .po-02 .e-item .title-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ranking-movie .po-02 .e-item .inblock .title-small {
  display: inline;
  color: #808080;
  font-size: 14px;
}


.ranking-movie::after {
  content: "";
  display: table;
  clear: both;
}

.ranking-movie .po-02 .rank-score .score {
  /* margin-left: 25px; */
  font-weight: 300;
  color: #9e9e9e;
}

.hover-box {
  padding: 0px;
  transition: transform 0.3s ease;
  /* Hiệu ứng chuyển đổi khi hover */
}

.hover-box:hover {
  transform: scale(1.2);
}

/* CSS USER BUY PACKAGE */
.title-back {
  color: #F62F39;
}

.vip-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.vip-item {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container i {
  background: green;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.package .img {
  background-image: url(../../public/images/cinema-4153289_640.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center;  */
  color: white;
  padding: 0px 20px;
  border-radius: 20px;
}

.package .img h6 {
  font-size: x-large;
  color: #A82E26;
}

.package .img .price {
  color: white;
  font-size: xx-large;
}

.package .img .text {
  width: 200px;
}

.package .button-vip button {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.package .content-vip {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.package .content-vip .item {
  display: flex;
  align-items: center;
}

.package .content-vip i {
  color: gold;
  margin-right: 8px;
}

.package .bx-vnpay {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.package .bx-vnpay .icon-vnpay img {
  width: 100%;
  height: 100px;
}

.package .text-sales {
  flex: 1;
}

/* thanh toan buoc 2 */
.u-pay .u-pay-note i {
  color: #A82E26;
}

.payment-option {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}

.payment-option label {
  display: flex;
  align-items: center;
}

.payment-option img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.u-pay .u-pay-detail {
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 10px;
}

.u-pay .u-pay-detail .name {
  display: flex;
  justify-content: space-between;
}

.divider-detail {
  border-top: 1px dotted black;
  margin: 10px 0;
}

.u-pay .u-pay-detail .name-package {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .date-package {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .effective-date {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .package-useto {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .package-useto {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .price {
  display: flex;
  justify-content: space-between;
}

.code-sales {
  margin-top: 10px;
}

.discount-code {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 200px;
}

.u-pay .u-pay-detail .code-sales {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail button {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.u-pay .u-pay-detail .total-package {
  display: flex;
  justify-content: space-between;
}

.u-pay .u-pay-detail .button-pay button {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.thank-you-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.thank-you-user img {
  max-width: 100%;
  height: auto;
}

.hr-thankyou {
  width: 50%;
  margin: 20px 0;
}

.text-thankyou {
  width: 650px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .text-thankyou {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .text-thankyou {
    width: 100%;
  }
}

.thank-you-user button {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}


@media (max-width: 768px) {
  .u-pay-detail {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .u-pay-detail {
    margin-top: 20px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-with-shadow {
  color: white;
  /* Màu chữ trắng */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  /* Bóng chữ tối */
}

.group-select-box {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.google-login-btn {
  width: 180px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.google-login-btn:hover {
  background-color: #f0f0f0;
  color: black;
}

.google-login-btn img {
  margin-right: 10px;
}

.modal-register .modal-dialog .form-group i {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.u-service-buy {
  height: 350px;
}

@media (max-width: 768px) {
  .u-service-buy {
    height: 100%;
  }

  .u-service-buy .box-card img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .u-menu li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.saoCMT {
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  transition: background-color 0.3s ease;
}

html,body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, rgba(47,54,64,1) 23%, rgba(24,27,32,1) 100%); */
}

.body-404{
  background: linear-gradient(90deg, rgba(47,54,64,1) 23%, rgba(24,27,32,1) 100%);
}

.moon {
  background: linear-gradient(90deg, rgba(208,208,208,1) 48%, rgba(145,145,145,1) 100%);
  position: absolute;
  top: -100px;
  left: -300px;
  width: 900px;
  height: 800px;
  content: '';
  border-radius: 100%;
  box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.5);
}

.moon__crater {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: linear-gradient(90deg, rgba(122,122,122,1) 38%, rgba(195,195,195,1) 100%);
  opacity: 0.6;
}

.moon__crater1 {
  top: 250px;
  left: 500px;
  width: 60px;
  height: 180px;
}

.moon__crater2 {
  top: 650px;
  left: 340px;
  width: 40px;
  height: 80px;
  transform: rotate(55deg);
}

.moon__crater3 {
  top: -20px;
  left: 40px;
  width: 65px;
  height: 120px;
  transform: rotate(250deg);
}

/* .star {
  background: grey;
  position: absolute;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 100%;
  transform: rotate(250deg);
  opacity: 0.4;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

@keyframes shimmer {
  from {opacity: 0;}
  to {opacity: 0.7;}
}

.star1 {
  top: 40%;
  left: 50%;
  animation-delay: 1s;
}

.star2 {
  top: 60%;
  left: 90%;
  animation-delay: 3s;
}

.star3 {
  top: 10%;
  left: 70%;
  animation-delay: 2s;
}

.star4 {
  top: 90%;
  left: 40%;
}

.star5 {
  top: 20%;
  left: 30%;
  animation-delay: 0.5s;
}

.error {
  position: absolute;
  left: 100px;
  top: 400px;
  transform: translateY(-60%);
  font-family: 'Righteous', cursive;
  color: #363e49;
}

.error__title {
  font-size: 10em;
}

.error__subtitle {
  font-size: 2em;
}

.error__description {
  opacity: 0.5;
}

.error__button {
  min-width: 7em;
  margin-top: 3em;
  margin-right: 0.5em;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid #2f3640;
  background-color: transparent;
  border-radius: 8em;
  color: #576375;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 0.75em;
  font-family: 'Righteous', cursive;
}

.error__button:hover {
  color: #21252c;
}

.error__button--active {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  color: white;
}

.error__button--active:hover {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  color: white;
}

.astronaut {
  position: absolute;
  width: 185px;
  height: 300px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
}

.astronaut__head {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  content: '';
  border-radius: 2em;
}

.astronaut__head-visor-flare1 {
  background-color: #7f8fa6;
  position: absolute;
  top: 28px;
  left: 40px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 2em;
  opacity: 0.5;
}

.astronaut__head-visor-flare2 {
  background-color: #718093;
  position: absolute;
  top: 40px;
  left: 38px;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 2em;
  opacity: 0.3;
}

.astronaut__backpack {
  background-color: #bfbfbf;
  position: absolute;
  top: 90px;
  left: 47px;
  width: 86px;
  height: 90px;
  content: '';
  border-radius: 8px;
}

.astronaut__body {
  background-color: #e6e6e6;
  position: absolute;
  top: 115px;
  left: 55px;
  width: 70px;
  height: 80px;
  content: '';
  border-radius: 8px;
}

.astronaut__body__chest {
  background-color: #d9d9d9;
  position: absolute;
  top: 140px;
  left: 68px;
  width: 45px;
  height: 25px;
  content: '';
  border-radius: 6px;
}

.astronaut__arm-left1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 127px;
  left: 9px;
  width: 65px;
  height: 20px;
  content: '';
  border-radius: 8px;
  transform: rotate(-30deg);
}

.astronaut__arm-left2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 102px;
  left: 7px;
  width: 20px;
  height: 45px;
  content: '';
  border-radius: 8px;
  transform: rotate(-12deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 113px;
  left: 100px;
  width: 65px;
  height: 20px;
  content: '';
  border-radius: 8px;
  transform: rotate(-10deg);
}

.astronaut__arm-right2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 78px;
  left: 141px;
  width: 20px;
  height: 45px;
  content: '';
  border-radius: 8px;
  transform: rotate(-10deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 110px;
  left: 21px;
  width: 10px;
  height: 6px;
  content: '';
  border-radius: 8em;
  transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 90px;
  left: 133px;
  width: 10px;
  height: 6px;
  content: '';
  border-radius: 8em;
  transform: rotate(20deg);
}

.astronaut__wrist-left {
  background-color: #e67e22;
  position: absolute;
  top: 122px;
  left: 6.5px;
  width: 21px;
  height: 4px;
  content: '';
  border-radius: 8em;
  transform: rotate(-15deg);
}

.astronaut__wrist-right {
  background-color: #e67e22;
  position: absolute;
  top: 98px;
  left: 141px;
  width: 21px;
  height: 4px;
  content: '';
  border-radius: 8em;
  transform: rotate(-10deg);
}

.astronaut__leg-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 50px;
  width: 23px;
  height: 75px;
  content: '';
  transform: rotate(10deg);
}

.astronaut__leg-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 108px;
  width: 23px;
  height: 75px;
  content: '';
  transform: rotate(-10deg);
}

.astronaut__foot-left {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 43px;
  width: 28px;
  height: 20px;
  content: '';
  transform: rotate(10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}

.astronaut__foot-right {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 111px;
  width: 28px;
  height: 20px;
  content: '';
  transform: rotate(-10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}

/* Ensure the slider buttons are positioned correctly */
.box-slider3 .slick-prev,
.box-slider3 .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: background 1s;
}

.box-slider3 .slick-prev {
  left: 0;
  height: 100%;
  width: 50px;
}

.box-slider3 .slick-next {
  right: 0;
  height: 100%;
  width: 50px;
}

.box-slider3 .slick-slider {
  margin: 10px;
}

.box-slider3 .slick-next:hover {
  background: rgba(255, 99, 71, 0.444);
}

.box-slider3 .slick-prev:hover {
  background: rgba(255, 99, 71, 0.444);
}

.box-slider3 .slick-arrow {
  font-size: 25px;
  color: white;
  font-weight: 600;
}

.box-slider3 .slick-arrow::before {
  content: "" !important
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
  /* Loại bỏ nội dung mặc định */
}

.sl-dropdown select{
  border-radius: 4px;
  border: .5px solid var(--white-ffffff, #fff);
  background: rgba(0, 0, 0, .4);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 16px;
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sl-dropdown select option{
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.8);
}

.sl-dropdown select option:hover{
  display: block;
}

.img-small {
  width: 110px;
  height: 150px;
  /* object-fit: cover; */
  z-index: -1; 
  left: 85px; 
  top: 15px; 
}

.comment-container {
  background-color: rgba(255, 255, 255, 0.24); /* Màu trắng với độ trong suốt 10% */
  padding: 20px;
  border-radius: 55px;
  height: 150px;
}

.comment-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.top-comment-nav select option{
  color: black;
}

.comment-container {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 20px;
  border-radius: 55px;
  height: 150px;
}

.top-comment-nav select option{
  color: black;
}

.page-item.active.danger .page-link {
  background-color: #dc3545; /* Màu Danger */
  border-color: #dc3545;
}
