.segment{
  background-color: #bfe661;
  width: 100%;
  height: 5px;
}

/* Lớp CSS tùy chỉnh cho tooltip */
.tooltip .tooltip-inner {
  background-color: white; /* Màu nền mặc định */
  color: black; /* Màu chữ */
}

.containerVipPro{
  width: 1102px;
}
