
.product-slide .text-light span:after{
    content : ">";
    background-position: -183px -122px;
    width: 10px;
    height: 16px;
    line-height: 16px;
}

.top-page-filter {
    display: flex;
    justify-content: space-between;
}

.header-filter{
    display: flex;
    gap: 10px;
}


.no-movies {
    height: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: 600;
}
